button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-align: left;
    color: rgb(0, 0, 0);


    width: 100px;
    padding: 7px 8px 7px 32px;
    border-radius: 7px;
    margin-top: 10px;
    background-color: lightgray;
    background-position: 8px;
    background-repeat: no-repeat;
}

button.login {
    background-image: url(img/in.png);
}
button.singnup {
    background-image: url(img/out.png);
}
button.tambah {
    background-image: url(img/add.png);
}
button.simpan{
    background-image: url(img/save.png);
} 
button.delete{
    background-image: url(img/delete.png);
}
button.update{
    background-image: url(img/update.png);
}
button.merah{
    background-image: url(img/red.png);
}
button.biru{
    background-image: url(img/blue.png);
}
button.hijau{
    background-image: url(img/green.png);
}
button.hitam{
    background-image: url(img/black.png);
}
button.import{
    background-image: url(img/import.png);
}
button.cetak{
    background-image: url(img/printer.png);
    margin-left: 10px;
}
button.papar{
     background-image: url(img/monitor.png);

}
button.semak{
    background-image: url(img/betul.png);
}
button:hover {
    background-color: silver;
    cursor: pointer;
}

button.cari{
    background-image: url(img/search.png);
}